/*
======================
        COMMON
====================== 
*/

.scroll-lock {
    overflow-y: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 7.917vw;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    width: 100px;
    padding: 6px;
    border-radius: 100px;
    background-color: $white;
    text-align: center;
    display: block;
    text-decoration: none;

    &.e--black {
        background-color: $black;
    }

    &.e--blue {
        background-color: $blue;
    }

    &.e--clip {
        border: 1px solid $white;
        background-color: transparent;
    }

    &.e--clip.e--black {
        border-color: $black;
    }

    &.e--lg {
        width: 217px;
    }
}

main {
    position: relative;
    &.e--catalog .container {
        display: grid;
        grid-template-columns: 25.926% 70.988%;
        grid-gap: 2vw;
    }
}

/*
======================
        COMMON
====================== 
*/

.text {
    font-family: $font_reg;
    font-size: 18px;
    color: $black;
    text-decoration: none;
    line-height: 1.7;

    &.e--small {
        font-size: 14px;
    }

    &.e--bold {
        font-family: $font_bold;
    }

    &.e--white {
        color: $white;
    }

    &.e--gray {
        color: $gray;
    }
}

.section-title {
    font-family: $font_bold;
    font-size: clamp(30px, 3.125vw, 60px);
    color: $black;

    &.e--highlight {
        background-color: $white;
        padding: 10px 14px;
    }

    &.e--white {
        color: $white;
    }
}

.section-subtitle {
    font-family: $font_reg;
    font-size: clamp(18px, 1.563vw, 30px);
    color: $white;

    &.e--highlight {
        background-color: $blue;
        padding: 10px 20px;
    }

    &.e--black {
        color: $black;
    }

    &.e--bold {
        font-family: $font_bold;
    }

    &.e--small {
        font-size: clamp(18px, 1.250vw, 24px);
    }
}

/*
======================
        HEADER
====================== 
*/

.header {
    height: 18.704vh;
    backdrop-filter: blur(7px);
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 99;
    &__inner {
        padding: 36px 4.896vw 33px;
        display: flex;
        align-items: center;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        .header-nav {
            margin-left: auto;
            margin-right: 32px;
        }
    }

    &__phone {
        margin-left: auto;
        width: 100%;
        max-width: 23px;
    }

    &__lang {
        margin-left: 54px;
        display: flex;
        width: 100%;
        max-width: 100px;
        a {
            margin-right: 8px;
            display: flex;

            &:not(:last-child):after {
                content: "|";
                margin-left: 8px;
            }
        }
    }

    &__logo {
        margin-right: 32px;
        width: 100%;
        max-width: 105px;
    }
}


.header-nav {
    width: 100%;
    max-width: 908px;
    &__list {
        display: flex;
        justify-content: space-between;
    }
}

.burger-btn {
    display: none;
    position: relative;
    width: 32px;
    height: 24px;
    cursor: pointer;
    &::after, &::before, span {
        content: "";
        background-color: $black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ease 0s;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0.1px;
    }

    span {
        top: 11.5px;
    }

    &.active {
        &::before {
            transform: rotate(45deg);
	        top: 11px;
        }

        &::after {
            transform: rotate(-45deg);
	        bottom: 11px;
            width: 100%;
        }
        span {
            transform: scale(0);
        }
    }
}

/*
======================
        HERO
====================== 
*/

.hero {
    margin-top: -202px;
    .container {
        background-image: url('../images/hero-img.webp');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__inner {
        padding-top: 202px;
        padding-bottom: 130px;
        height: 1080px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__title {
        margin-left: 6.771vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .section-title {
            margin-bottom: 14px;
        }
    }

    &__lang {
        a {
            color: #a6a6a6;
        }
    }
}

/*
======================
        ABOUT
====================== 
*/

.about {
    margin-top: -129px;
    margin-bottom: 150px;
    &__inner {
        width: 100%;
        max-width: 1618px;
        background-color: $blue;
        display: flex;
        min-height: 267px;
        position: relative;

        &>* {
            width: 50%;
            padding: 32px;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 41.573%;
            border-left: 1px solid $white;
        }
    }

    &__left {
        display: flex;
        justify-content: center; align-items: center;
        .text {
            max-width: 611px;
        }
    }

    &__right {
        display: flex;
        justify-content: center; align-items: center;
        .text {
            max-width: 566px;
        }
    }
}

/*
======================
       RELATED
====================== 
*/

.related {
    margin-bottom: 150px;

    .container {
        padding: 0;
    }
}

.related-slider1 {
    margin-bottom: 30px;
}

.related-slider1, .related-slider2 {
    .swiper-slide {
        max-width: 809px;
    }
}

.related-slide {
    position: relative;
    width: 100%;
    max-width: 809px;
    &__main {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 104px;
        max-width: 250px;
        .section-subtitle {
            margin-bottom: 33px;
        }
        .btn {
            margin-top: 23px;
        }
        .text {
            line-height: 1.2;
        }
    }

    &.e--right &__main {
        right: unset;
        left: 104px;
    }
}

/*
==========================
        CATEGORIES
========================== 
*/

.categories {
    .container {
        padding: 0 32px;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__nav {
        width: 100%;
        max-width: 747px;
        margin-bottom: 8.333vw;
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-between;
        }

        a {
            border: 1px solid transparent;
            border-radius: 100px;
            padding: 4px 12px;
            transition: .25s;
            white-space: nowrap;

            &:hover {
                border-color: $gray;
            }
            a.active {
                border-color: $gray;
            }
        }
    }

    &__list {
        width: 100%;
        max-width: 1290px;
        grid-gap: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        align-items: center;
        justify-items: center;
    }
}

.categories-item {
    position: relative;
    &__main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0;
        transition: .3s;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .section-subtitle {
            margin-bottom: 30px;
        }

        .text:not(:last-child) {
            margin-bottom: 20px;
        }

        &:hover {
            opacity: 1;
        }
    }
}

/*
==========================
        FEEDBACK
========================== 
*/

.feedback {
    background-color: $blue;
    margin-top: -150px;
    &__inner {
        height: 721px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .section-subtitle {
            display: flex;
            &>* {
                margin-left: 8px;
            }
        }
    }

    &__title {
        margin-bottom: 36px;
    }

    &__btns {
        display: flex;

        &>*:not(:last-child) {
            margin-right: 2.760vw;
        }
    }
}

/*
==========================
        SVJATO
========================== 
*/

.svjato {
    margin-top: -150px;
    margin-bottom: 150px;
    &__inner {
        background-image: url('../images/svjato-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 610px;
        padding: 32px;
        padding-bottom: 121px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin-bottom: 45px;
    }

    &__text {
        width: 100%;
        max-width: 744px;
        background-color: $black;
        padding: 44px 64px;
    }
    .btn {
        margin-right: 68px;
    }
}

/*
==========================
        BENEFITS
========================== 
*/

.benefits {
    margin-bottom: 150px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        grid-gap: 32px;
        width: 100%;
        max-width: 950px;
        margin: 0 auto;
        justify-items: center;
    }
}

.benefits-item {
    width: 100%;
    max-width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
        margin-bottom: 36px;
    }
    &__text {
        text-align: center;
        
        .text {
            line-height: 1.2;
        }
    }
}

/*
==========================
        FEEDBACK
========================== 
*/

.seo-block {
    margin-bottom: 150px;
    &__inner {
        width: 100%;
        max-width: 1290px;
        margin: 0 auto;
        border: 1px solid $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 46px;

        &>*:not(:last-child) {
            margin-right: 5.208vw;
        }
    }

    &__text {
        width: 100%;
        max-width: 494px;
    }
}

/*
==========================
        FOOTER
========================== 
*/

.footer {
    background-color: $black;
    &__inner {
        padding-top: 143px;
        display: flex;
        flex-direction: column;
    }

    &__main {
        margin-bottom: 88px;
        display: flex;
        justify-content: center;
        padding: 32px 0;
        border-bottom: 1px solid $gray;
    }

    &__bottom {
        padding-bottom: 82px;
    }

    &__top {
        display: flex;
        align-items: center;
        padding: 0 3vw;
        padding-bottom: 32px;
        border-bottom: 1px solid $gray;
        .header__phone {
            margin-left: 32px;
        }
    }

    &__info-links {
        display: flex;
        padding-right: 57px;
        border-right: 1px solid $gray;
        .col {
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-right: 70px;
            }
        }
    }
    &__address {
        padding: 0 56px;
        margin-right: 50px;
        border-right: 1px solid $gray;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
    }
}

.footer-nav {
    width: 100%;
    max-width: 905px;
    margin: 0 auto;
    &__list {
        display: flex;
        justify-content: space-between;
    }
}

/*
==========================
    CATEGORIES PAGE
========================== 
*/

.categories-page {
    margin-bottom: 8px;

    &__inner {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 8px;
        
        &>* {
            &:nth-child(1) {
                grid-column: 1 / 3;
            }
            &:nth-child(2) {
                grid-column: 3 / 6;
            }
            &:nth-child(3) {
                grid-column: 6 / 9;
            }
            &:nth-child(4) {
                grid-column: 1 / 3;
            }
            &:nth-child(5) {
                grid-column: 3 / 5;
            }
            &:nth-child(6) {
                grid-column: 5 / 7;
            }
            &:nth-child(7) {
                grid-column: 7 / 9;
            }
        }
    }
}

.categories-page-item {
    display: block;
    position: relative;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0;
        z-index: 2;
        transition: .4s;
    }
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 3;
    }
    &__img {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: right;
        }
    }

    &:hover &::after {
        opacity: 0.5;
    }
}

/*
==========================
      CATATALOG PAGE
========================== 
*/

.catalog-hero {
    grid-column: 1 / 3;
    background-image: url('../images/catalog-hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    margin: 0 -7.917vw;
    margin-bottom: 88px;

    &__inner {
        height: 415px;
    }

    &__nav {
        height: 97px;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 32px;
        border-bottom: 1px solid $white;

        ul {
            width: 100%;
            max-width: 1160px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        a {
            padding: 6px 16px;
            border: 1px solid transparent;
            border-radius: 100px;
            transition: .4s;
            white-space: nowrap;

            &:hover {
                border-color: $white;
            }
        }
    }
}

.catalog-list {
    margin-bottom: 7.813vw;
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2vw;
    }
}

.catalog-filter {
    padding-top: 48px;
    &__list {
        &:not(:last-child) {
            margin-bottom: 64px;
        }
        p {
            margin-bottom: 21px;
            margin-left: 32px;
        }
        li {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        label {
            cursor: pointer;
            input {
                position: absolute;
                appearance: none;
            }

            span {
                display: block;
                padding: 10px 32px;
                width: 100%;
                border: 1px solid #E5E5E5;
                border-radius: 50px;
                transition: .2s;
            }

            input:checked + span {
                border-color: #69AACF;
            }
        }
    }
}

.catalog-item {
    width: 100%;
    max-width: 350px;

    &__title {
        padding: 14px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #FAFAFA;

        p {
            max-width: 212px;
        }
    }
}

/*
==========================
     PRODUCT PROFILE
========================== 
*/

.product-profile {
    padding-top: 7.813vw;
    margin-bottom: 7.813vw;
    &__inner {
        display: flex;
        justify-content: center;
    }

    &__left {
        margin-right: 10.625vw;
        max-width: 600px;
        width: 60%;

        .wrapper {
            position: sticky;
            top: 32px;
        }
    }

    &__img {
        max-width: 600px;
        border: 1px solid #707070;
        margin-bottom: 5.208vw;
    }

    &__desc {
        width: 100%;
        border: 1px solid #69AACF;
        padding: 3.333vw 4.167vw;

        &>*:not(:last-child) {
            margin-bottom: 2.083vw;
        }
    }

    &__list {
        max-width: 418px;
    }

    &__right {
        padding-top: 4.792vw;
        max-width: 480px;
    }

    &__title {
        margin-bottom: 42px;
    }

    &__text {
        margin-bottom: 70px;
    }
}

.product-slider {
    .swiper-button-next {
        right: 16px;
        width: unset;
        &::after {
            display: none;
        }

        &::before {
            content: '';
            width: 30px;
            height: 30px;

            background-image: url('../images/arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
    }

    .swiper-button-prev {
        left: 16px;
        width: unset;
        &::after {
            display: none;
        }

        &::before {
            content: '';
            width: 30px;
            height: 30px;

            background-image: url('../images/arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }

        transform: rotate(180deg);
    }
}

/*
==========================
     PRODUCT BENEFITS
========================== 
*/

.product-benefits {
    position: relative;
    z-index: 9;
    margin-bottom: 100px;
    &__inner {
        padding: 3.438vw 5.729vw;
        margin: 0 auto;
        background-color: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 36px;
        grid-column-gap: 8px;
        width: 100%;
        max-width: 900px;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 48px;
        max-width: 384px;
        width: 100%;
        img  {
            margin-right: 16px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;

        a {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 32px;
            }

            img {
                max-width: 25px;
                margin-right: 16px;
            }

        }
    }

    &__item {
        display: flex;
        align-items: center;

        img {
            margin-right: 18px;
        }
    }
}

/*
==========================
        INDIVIDUAL
========================== 
*/

.individual {
    position: relative;
    z-index: 8;
    margin-bottom: 130px;
    &__inner {
        display: flex;
        align-items: center;
        border: 1px solid $blue;
        padding: 30px 5.781vw;
    }

    &__title {
        margin-right: 2.604vw;
    }

    &__text {
        border-left: 1px solid $blue;
        border-right: 1px solid $blue;
        max-width: 630px;
        padding: 0 3.125vw;
        margin-right: 3.854vw;
    }

    &__action {
        text-align: right;
        display: flex;
        align-items: center;

        &::after {
            content: '';
            min-width: 14px;
            height: 24px;
            background-image: url('../images/individual-arrow.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-left: 28px;
        }
    }

}

/*
==========================
        INDIVIDUAL
========================== 
*/

.product-related {
    padding-bottom: 136px;
    position: relative;
    z-index: 7;
    margin-top: -830px;
    background-color: #F5F5F5;
    &__inner {
        padding-top: 830px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 77px;
    }

    &__list {
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: repeat(4, 1fr);
    }
}

.product-related-item {
    background-color: $white;
    max-width: 300px;
    transition: .3s;

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 8px;
        padding-bottom: 3.646vw;
        padding-top: 3.333vw;
        p.text {
            max-width: 190px;
            margin-bottom: 30px;
        }

        .btn {
            width: 100%;
            max-width: 200px;
        }
    }

    &:hover {
        transform: scale(1.1);
        padding: 10px;
    }
}

/*
==========================
        PRICE BAR
========================== 
*/

.price-bar {
    margin-bottom: 100px;
    position: sticky;
    bottom: 0;
    z-index: 99;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
    background-color: #F5F5F5;
    min-height: 150px;
    height: 100%;
    max-height: 214px;
    padding: 32px 0;
    display: flex;
    align-items: center;

    .container {
        height: 100%;
    }

    &__inner {
        margin: auto 0;
        height: 100%;
        display: flex;
        align-items: center;
        &>*:last-child {
            max-width: 200px;
            margin-left: 4.688vw;
            text-align: right;
            display: flex;
            align-items: center;

            img {
                max-width: 25px;
                margin-right: 14px;
            }
        }
    }

    &__text {
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 230px;
        img {
            max-width: 25px;
            margin-right: 14px;
        }
    }

    &__price {
        margin-left: auto;
        
        p {
            font-family: $font_bold;
            font-size: clamp(28px, 2.083vw, 40px)
        }
    }
    .btn {
        margin-left: 3.750vw;
    }
}